<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cliente MVC Twitter</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta
            content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"
            id="Viewport" name="viewport"/>
    <!-- Bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" media="screen"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}"/>
    <!-- Optional theme -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css"
          rel="stylesheet"
          th:href="@{/webjars/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="http://code.jquery.com/jquery-1.11.2.min.js"
            th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/mustachejs/0.8.2/mustache.js"
            th:src="@{/webjars/mustache.js/mustache.js}"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script id="template" type="x-tmpl-mustache">
{{#.}}
 <div class="row panel panel-default">
  <div class="panel-heading">
   <a href="https://twitter.com/{{user.screenName}}" target="_blank"><b>@{{user.screenName}}</b></a>
   <div class="pull-right">
    Followers count: {{user.followersCount}}
   </div>
  </div>
  <div class="panel-body">{{text}}</div>
 </div>
 {{/.}}

    </script>

    <script src="../static/functions.js" th:src="@{/functions.js}"></script>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <p class="navbar-brand">Cliente MVC Twitter</p>
    </div>
    <div class="nav navbar-right">
        <a href="http://www.unizar.es" title="UNIZAR"><img alt=""
                                                           height="50" src="../static/logoUZ.png"
                                                           th:src="@{/logoUZ.png}"/></a>
    </div>
</nav>
<div class="container">
    <!-- Formulario principal -->
    <form action="search" id="search" method="get">
        <div class="row">
            <input class="form-control" id="q" name="q" placeholder="Escribe algo que quieras buscar"
                   type="text" required="true"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="max">Número de Tweets a buscar</label>
            <input class="form-control" id="max" name="max"
                   type="number" min="1" value="10"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row text-center">
            <button type="button" class="btn btn-info" 
                data-toggle="collapse" data-target="#advanced">Mostrar/ocultar búsqueda avanzada</button>
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </form>
    <div class="row">&nbsp;</div>

    <!-- Formulario avanzado -->
    <form action="advanced" id="advanced" class="collapse" method="get">
        <div class="row">
            <label for="all">Todas estas palabras</label>
            <input class="form-control" id="all" name="all" placeholder="qué pasa"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="phrase">Esta frase exacta</label>
            <input class="form-control" id="phrase" name="phrase" placeholder="hora feliz"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="any">Cualquiera de estas palabras</label>
            <input class="form-control" id="any" name="any" placeholder="gatos perros"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="not">Ninguna de estas palabras</label>
            <input class="form-control" id="not" name="not" placeholder="gatos perros"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="hashtag">Estos hashtag</label>
            <input class="form-control" id="hashtag" name="hashtag" placeholder="#JuevesDeAntaño"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="from">De estas cuentas</label>
            <input class="form-control" id="from" name="from" placeholder="@Twitter"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="to">A estas cuentas</label>
            <input class="form-control" id="to" name="to" placeholder="@Twitter"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="at">Mención a estas cuentas</label>
            <input class="form-control" id="at" name="at" placeholder="@SFBART @Caltrain"
                   type="text"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="lang">Idioma</label>
            <select class="form-control" id="lang" name="lang">
                <option value="" selected>Cualquier idioma</option>
                <option value=af>Afrikaans</option>  
                <option value=af>Afrikaans</option>
                <option value=sq>Albanian</option>
                <option value=am>Amharic</option>
                <option value=ar>Arabic</option>
                <option value=hy>Armenian</option>
                <option value=az>Azerbaijani</option>
                <option value=eu>Basque</option>
                <option value=be>Belarusian</option>
                <option value=bn>Bengali</option>
                <option value=bs>Bosnian</option>
                <option value=bg>Bulgarian</option>
                <option value=ca>Catalan</option>
                <option value=ceb>Cebuano</option>
                <option value=ny>Chichewa</option>
                <option value=zh-CN>Chinese</option>
                <option value=co>Corsican</option>
                <option value=hr>Croatian</option>
                <option value=cs>Czech</option>
                <option value=da>Danish</option>
                <option value=nl>Dutch</option>
                <option value=en>English</option>
                <option value=eo>Esperanto</option>
                <option value=et>Estonian</option>
                <option value=tl>Filipino</option>
                <option value=fi>Finnish</option>
                <option value=fr>French</option>
                <option value=fy>Frisian</option>
                <option value=gl>Galician</option>
                <option value=ka>Georgian</option>
                <option value=de>German</option>
                <option value=el>Greek</option>
                <option value=gu>Gujarati</option>
                <option value=ht>Haitian Creole</option>
                <option value=ha>Hausa</option>
                <option value=haw>Hawaiian</option>
                <option value=iw>Hebrew</option>
                <option value=hi>Hindi</option>
                <option value=hmn>Hmong</option>
                <option value=hu>Hungarian</option>
                <option value=is>Icelandic</option>
                <option value=ig>Igbo</option>
                <option value=id>Indonesian</option>
                <option value=ga>Irish</option>
                <option value=it>Italian</option>
                <option value=ja>Japanese</option>
                <option value=jw>Javanese</option>
                <option value=kn>Kannada</option>
                <option value=kk>Kazakh</option>
                <option value=km>Khmer</option>
                <option value=ko>Korean</option>
                <option value=ku>Kurdish (Kurmanji)</option>
                <option value=ky>Kyrgyz</option>
                <option value=lo>Lao</option>
                <option value=la>Latin</option>
                <option value=lv>Latvian</option>
                <option value=lt>Lithuanian</option>
                <option value=lb>Luxembourgish</option>
                <option value=mk>Macedonian</option>
                <option value=mg>Malagasy</option>
                <option value=ms>Malay</option>
                <option value=ml>Malayalam</option>
                <option value=mt>Maltese</option>
                <option value=mi>Maori</option>
                <option value=mr>Marathi</option>
                <option value=mn>Mongolian</option>
                <option value=my>Myanmar (Burmese)</option>
                <option value=ne>Nepali</option>
                <option value=no>Norwegian</option>
                <option value=ps>Pashto</option>
                <option value=fa>Persian</option>
                <option value=pl>Polish</option>
                <option value=pt>Portuguese</option>
                <option value=pa>Punjabi</option>
                <option value=ro>Romanian</option>
                <option value=ru>Russian</option>
                <option value=sm>Samoan</option>
                <option value=gd>Scots Gaelic</option>
                <option value=sr>Serbian</option>
                <option value=st>Sesotho</option>
                <option value=sn>Shona</option>
                <option value=sd>Sindhi</option>
                <option value=si>Sinhala</option>
                <option value=sk>Slovak</option>
                <option value=sl>Slovenian</option>
                <option value=so>Somali</option>
                <option value=es>Spanish</option>
                <option value=su>Sundanese</option>
                <option value=sw>Swahili</option>
                <option value=sv>Swedish</option>
                <option value=tg>Tajik</option>
                <option value=ta>Tamil</option>
                <option value=te>Telugu</option>
                <option value=th>Thai</option>
                <option value=tr>Turkish</option>
                <option value=uk>Ukrainian</option>
                <option value=ur>Urdu</option>
                <option value=uz>Uzbek</option>
                <option value=vi>Vietnamese</option>
                <option value=cy>Welsh</option>
                <option value=xh>Xhosa</option>
                <option value=yi>Yiddish</option>
                <option value=yo>Yoruba</option>
                <option value=zu>Zulu</option>
            </select>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="since">Desde</label>
            <input class="form-control" id="since" name="since"
                   type="date"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="until">Hasta</label>
            <input class="form-control" id="until" name="until"
                   type="date"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="min_replies">Mínimo de respuestas</label>
            <input class="form-control" id="min_replies" name="min_replies"
                   type="number" min="0" value="0"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="min_faves">Mínimo de Me gusta</label>
            <input class="form-control" id="min_faves" name="min_faves"
                   type="number" min="0" value="0"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="min_retweets">Mínimo de Retweets</label>
            <input class="form-control" id="min_retweets" name="min_retweets"
                   type="number" min="0" value="0"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="replies">Respuestas</label>
            <select class="form-control" id="replies" name="replies">
                <option value="" selected>Incluir respuestas y Tweets originales</option>
                <option value="1">Solo mostrar respuestas</option>  
                <option value="0">Omitir respuestas</option>
            </select>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="links">Enlaces</label>
            <select class="form-control" id="links" name="links">
                <option value="" selected>Incluir Tweets con enlaces</option>
                <option value="1">Solo mostrar Tweets con enlaces</option>  
                <option value="0">Omitir Tweets con enlaces</option>
            </select>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <label for="max">Número de Tweets a buscar</label>
            <input class="form-control" id="max" name="max"
                   type="number" min="1" value="10"/>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <button class="btn btn-default center-block" type="submit">Búsqueda avanzada</button>
        </div>
    </form>
    <div class="row">&nbsp;</div>
    <div id="resultsBlock"></div>
</div>
</body>
</html>